services:
  app:
    image: mcr.microsoft.com/devcontainers/typescript-node:20
    user: node
    volumes:
      - ..:/work:cached
    working_dir: /work
    command: sleep infinity
    depends_on:
      - solr
      - elastic
  solr:
    image: solr:9
    ports:
      - "8983:8983"
    command: solr-precreate splainer
  elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.3
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"